<%- include('../layout/user/header.ejs') %>
<h2>Your Referral Rewards</h2>
<p>Your Referral Code: <strong><%= referralCode %></strong></p>
<p>People Referred: <strong><%= referralCount %></strong></p>
<p>Total Rewards Earned: <strong>$<%= referralRewards %></strong></p>
<p>Share this code with your friends to earn more rewards!</p>
<%- include('../layout/user/footer.ejs') %>